Parallelization Agents.json
{
  "name": "Parallelization Agents",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "a63def2a-a6f9-497b-9466-0edc73a8bc60",
      "name": "When chat message received",
      "webhookId": "8f23ffde-7f71-4222-9f50-2b8451daa5ad"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        304
      ],
      "id": "b9765665-d508-41e5-868d-21b0e398bb57",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8xLfiS3K5P7sNaFT",
          "name": "Google Gemini(PaLM) 1"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze the emotional tone of the incoming text.\nCatrgorize it as positive, negative, neutral, or mixed, Provide a brife explanation.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        -256
      ],
      "id": "087bd75f-e9c1-47f5-8602-4fa32331f3c2",
      "name": "Emotion Agent"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze the intent behind this text. Classify it as informational, persuasive, aggressive, or neutral.\nProvide reasoning.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "b5fcabb6-813d-4a7d-ad99-ed1e08d02932",
      "name": "Intent Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        -128
      ],
      "id": "e3ab1bb5-5a8b-44b8-9fa3-7e9152a0b935",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        0
      ],
      "id": "4a97fb53-7edc-4ef5-8053-e7f0093d38d6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1264,
        0
      ],
      "id": "1259e8a9-c1c3-4fd7-81e6-5d74be25f331",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You will receive exactly three structured inputs:\n1. Emotion Agent output\n2. Intent Agent output\n3. Bias/Safety Agent output\n\nYou must use them only as helpful signals (tone, urgency, risk). \nThey are NOT the content you must report on.\n\nYour real job:\n- Produce a clear, detailed, well-structured report about the TOPIC contained in the user’s original message.\n- The report should focus 100% on the topic the user talked about: the issue, question, problem, context, or request.\n- Emotion/Intent/Bias signals should only influence the style, tone, urgency, or safety checks. They should NEVER become the subject of the report.\n\nKey rules:\n1. Do not output JSON. Output clean paragraphs and headings for Google Docs.\n2. The report should be entirely about the user’s topic, not about the user's emotion or communication style.\n3. You may adjust tone based on the emotion signal (e.g., more direct if frustrated, more supportive if confused).\n4. You may adjust priority based on intent (e.g., “urgent action needed”, “information requested”, “step-by-step explanation”).\n5. You may adjust safety wording based on bias/safety issues if they appear.\n6. Do not mention “emotion”, “intent”, “bias”, “agents”, or any internal system.\n7. Do not describe HOW the user said something. Focus on WHAT the user said.\n8. The structure of the report must be:\n\n   Title  \n   Summary of the Topic  \n   Detailed Explanation / Analysis  \n   Key Points / Findings  \n   Recommended Actions / Next Steps  \n   Optional: A polished draft reply the user can send back\n\n9. The report must help the user understand and act on the TOPIC, not their emotional state.\n\nUse the three agent signals ONLY to shape tone and urgency — never as the subject of the report.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1472,
        0
      ],
      "id": "0a76d5e7-0f41-43be-9719-156c1c03135f",
      "name": "Final Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/19gLAwm9xch8a_Eu3ES00oX3wAugQcPruDXVmzNdB2Pg/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1776,
        0
      ],
      "id": "e0ee4f0d-eff1-4f53-9546-48c94cc25931",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "24oiMM5BRdMJTAxw",
          "name": "docu swaraj"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Analyze this text for any potential biases. Identify if it exhibits political, gender, racial, or other biases.\nSuggest ways too make it more neutral"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        240
      ],
      "id": "7d4bd933-42c8-4293-ba8a-8c7cfb45249e",
      "name": "Bias Agent"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "sessionId": "c9d022f77d48475ba3895efead9584d2",
          "action": "sendMessage",
          "chatInput": "I don't trust the main stream media anymore. They push a specific agenda and ignore the real issues. People need to wake up and stop believing everything they see on the news"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Emotion Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intent Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bias Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Emotion Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Intent Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Bias Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Final Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Emotion Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Final Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Agent": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bias Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0057d9eb-fe90-4d85-a7a3-59b09e1da5d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b99629a96d1feaa6646aabbd2e9fbe5b4db922509dc36b3d3d1cc0f0838ab88"
  },
  "id": "1ssxyg8xHNupKGji",
  "tags": []
}