Routing_Agent_for_Email.json
{
  "name": "Routing_Agent_for_Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        32
      ],
      "id": "951fa9eb-9df4-4fc4-8a2a-e8653d115413",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "High Priority"
            },
            {
              "category": "Customer Support"
            },
            {
              "category": "Promotional"
            },
            {
              "category": "Financial/Billing"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "8a1228c7-95b0-4455-b593-98118470163d",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email From: {{ $('Gmail Trigger').item.json.From }}\nMessage: {{ $json.snippet }}",
        "options": {
          "systemMessage": "# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner.\n\n## Tools\nCreate a Draft In email - Use this to take required actions draft an email reply to a customer. Always sign off as Swaraj \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1024,
        160
      ],
      "id": "bc314731-99f9-4e8f-9270-6027e3b231d2",
      "name": "Promotion Agent"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "IMPORTANT",
          "INBOX",
          "UNREAD"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -272
      ],
      "id": "7a29af10-4411-47aa-ac6a-8d4f7cba7ea4",
      "name": "High Priority",
      "webhookId": "72826ad0-c96f-488a-bf95-1138f7b8cd0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "INBOX",
          "UNREAD",
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        -64
      ],
      "id": "de70f4fa-b7f1-4069-ae05-5aafa9cd8291",
      "name": "Customer Support",
      "webhookId": "f3b34959-f111-4041-aa8a-2f98d8470c56",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS",
          "CATEGORY_SOCIAL",
          "UNREAD"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        128
      ],
      "id": "085c17f9-fbdd-413b-9911-2a49f3bc2354",
      "name": "Promotional",
      "webhookId": "396b3e9e-3abe-41e6-b671-7833ab642290",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL",
          "CATEGORY_UPDATES",
          "UNREAD"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        608,
        288
      ],
      "id": "f1cca760-2d10-487c-9072-032442dbf362",
      "name": "Finance/Billing",
      "webhookId": "95aa9429-f964-4738-8a96-c91a6808828b",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        288
      ],
      "id": "ef758c54-31d8-4d91-9dd1-1f57074b02cc",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "rOnXlKFaDo9toQZY",
          "name": "Groq 1"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "swarajshelke392@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1360,
        -240
      ],
      "id": "5d0b7556-9395-4887-8df9-80c37d5031c0",
      "name": "Send a message in Gmail",
      "webhookId": "686a99b3-1225-4072-88de-73e0e128bf95",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        256
      ],
      "id": "5b3d45d4-e5a6-45b1-9b98-bbcddcc69d1d",
      "name": "Google",
      "credentials": {
        "googlePalmApi": {
          "id": "8xLfiS3K5P7sNaFT",
          "name": "Google Gemini(PaLM) 1"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email From: {{ $('Gmail Trigger').item.json.From }}\nMessage: {{ $json.snippet }}",
        "options": {
          "systemMessage": "# Overview\nYou are in charge of finances. Your job is to respond to inquiries in a friendly and professional manner.\n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Swaraj .\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        928,
        400
      ],
      "id": "37bb64c6-d3c5-4372-be28-46f01f69afeb",
      "name": "finance Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email From: {{ $('Gmail Trigger').item.json.From }}\nMessage: {{ $json.snippet }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1024,
        -96
      ],
      "id": "f998895e-57e7-4f5f-a4fd-bc0a69063cd6",
      "name": "cus._support agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email From: {{ $('Gmail Trigger').item.json.From }}\nMessage: {{ $json.snippet }}",
        "options": {
          "systemMessage": "# Overview\nYou are in charge of monitoring my inbox for anything urgent or high priority. Your job is to alert me only when an email needs quick action or could impact my work or business.\n\n## Tools\nSend message – Use this to send me a short summary of the urgent email. Always highlight:\n- Who sent it\n- Why it matters\n- What I should do next\n\nAlways SignOff as - Swaraj go and check out the original email fast!!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        944,
        -384
      ],
      "id": "3137b06a-40de-4f89-920c-cb3a612c140c",
      "name": "High Priority Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1424,
        272
      ],
      "id": "24080fe0-3dde-4436-9c18-b80cd28319ee",
      "name": "Create a draft in Gmail",
      "webhookId": "1f788174-55a7-4057-bce6-57dfdd318055",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promotional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance/Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority": {
      "main": [
        [
          {
            "node": "High Priority Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support": {
      "main": [
        [
          {
            "node": "cus._support agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotional": {
      "main": [
        [
          {
            "node": "Promotion Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance/Billing": {
      "main": [
        [
          {
            "node": "finance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "High Priority Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "cus._support agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Promotion Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "finance Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "High Priority Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Agent": {
      "main": [
        []
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "cus._support agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Promotion Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "finance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e0350a2-8459-4a0d-866e-d1bb70a1b69d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b99629a96d1feaa6646aabbd2e9fbe5b4db922509dc36b3d3d1cc0f0838ab88"
  },
  "id": "GBHjVltNz6yjXiQv",
  "tags": []
}