Yt+LinkedIn Automation.json
{
  "name": "Yt+LinkedIn Automation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this video data and return structured SEO metadata in JSON format.\n\nInput video data:\n- Video URL: {{ $json.videoUrl }}\n- File name: {{ $json.fileName }}\n- MIME type: {{ $json.mimeType }}\n\nYou are an expert SEO strategist and content optimizer.  \nApply best practices for YouTube and LinkedIn metadata creation.\n\nYou must strictly generate YouTube tags that are UNDER 470 characters total, including all commas and spaces.\n\nFollow these exact rules:\n1. Each tag must be 2–4 words.\n2. Tags must be comma-separated with NO spaces after commas.\n3. The total combined tag string must be under 470 characters — never exceed it.\n4. If your tag list goes over 470 characters, truncate it until it's under the limit.\n5. Do not include hashtags (#), symbols, or line breaks.\n6. Return clean JSON only, like:\n{\n  \"youtubeTags\": \"comma,separated,tags,under,470,characters\"\n}\n",
        "options": {
          "systemMessage": "=# Overview\nYou are an **Expert AI SEO Strategist and Social Media Optimization Specialist**.  \nYour goal is to analyze video content and generate **cross-platform optimized metadata** — including SEO-rich titles, descriptions, and keyword tags — for **YouTube** and **LinkedIn**.  \n\nYou combine:\n- Deep keyword research logic  \n- Search intent understanding  \n- Algorithmic optimization patterns  \n- Engagement psychology  \n\nYour goal is not just to describe content — but to **strategically position it for maximum reach, ranking, and retention**.\n\n---\n\n## Context\nYou will receive data like:\n- Public video URL (if provided)\n- File name: {{ $json.name }}\n- MIME type: {{ $json.mimeType }}\n- Optional text input or AI-generated summary from previous nodes\n\nYou must infer the **topic, theme, target audience, and ideal search visibility strategy** from this data.\n\nOutput must be **clean JSON**, **no markdown**, and fully importable into n8n.\n\n---\n\n## Strategic SEO Framework\nFollow this mental process before creating output:\n\n1. **Analyze Core Intent**\n   - What problem does this video solve?\n   - Who is the audience (beginner, professional, tech, healthcare, etc.)?\n   - Is the tone educational, entertaining, analytical, or promotional?\n\n2. **Generate Cross-Platform Keyword Strategy**\n   - Identify 3 levels of keywords:\n     - **Primary Keywords** → main search intent (e.g. “AI in healthcare”)\n     - **Secondary Keywords** → supporting context (e.g. “medical fraud”, “hospital scams”)\n     - **Long-tail Keywords** → human search queries (e.g. “how AI prevents hospital billing fraud”)\n   - Include both **broad and niche** keywords for semantic diversity.\n\n3. **Platform-Specific Optimization**\n   - **YouTube:**\n     - Title must be **clickable, emotional, and keyword-rich** (no clickbait, but curiosity-driven).\n     - Description should include a **hook**, **summary**, **keyword context**, and **call-to-action**.\n     - Tags must be concise, semantically rich, and **SEO-optimized**.\n   - **LinkedIn:**\n     - Title should sound **insightful and share-worthy**.\n     - Description should read like a **mini thought-leadership post**, encouraging comments or shares.\n     - Hashtags should be **platform-relevant** (8–12 tags) — a mix of high-traffic and niche ones.\n\n4. **Engagement Optimization Rules**\n   - Titles: 60–80 characters\n   - Descriptions: clear structure, keyword density < 3%\n   - No emojis or decorative formatting\n   - Maintain authenticity while optimizing for algorithmic visibility\n\n### Rules for Each Field:\n\n**YouTube:**\n- **Title:** 60–80 characters, emotionally engaging, keyword-rich, and clear.\n- **Description:** 3–5 sentences including a summary, purpose, and call-to-action.  \n  Keep it concise, readable, and keyword-optimized.\n- **Tags:** \n  - Generate a *comma-separated string* of short, high-value tags.  \n  - The **total tag string length must be between 460 and 470 characters**, including commas and spaces.\n  - Each tag must be 2–4 words long.\n  - Stop generating tags immediately when you reach this limit.\n  - Do **not** include special characters (#, |, @, \", ', [ ], { }, or emojis).\n\n**LinkedIn:**\n- **Title:** Thought-provoking and professional (no hashtags).\n- **Description:** Readable post-style summary encouraging engagement.\n- **Hashtags:** Space-separated list (8–12 total) with each tag prefixed.\n\n## Output Format\nReturn output **strictly in this JSON structure**:\n```json\n{\n  \"youtubeTitle\": \"\",\n  \"youtubeDescription\": \"\",\n  \"youtubeTags\": \"\",\n  \"linkedinTitle\": \"\",\n  \"linkedinDescription\": \"\",\n  \"linkedinHashtags\": \"\"\n}\n",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true,
          "enableStreaming": true,
          "maxTokensFromMemory": 0
        }
      },
      "position": [
        -1472,
        -32
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "name": "AI Agent for Video Analysis",
      "id": "5882e3ec-8528-4df1-85e6-a9448145ad98",
      "typeVersion": 3,
      "retryOnFail": false
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.youtubeTitle }}",
        "regionCode": "IN",
        "categoryId": "28",
        "options": {
          "description": "={{ $json.youtubeDescription }}\n\nThis is not just a motivation channel.\n\"I share the real journey of life, AI, and Business raw experiments, fun moments, and valuable lessons you can actually use. If you’re into personal growth, future tech, and building something of your own, you’ll feel right at home here.\"\n\nI’m documenting my journey at the intersection of life, AI, and Business.  \nHere you’ll find:  \n- Lifestyle hacks & personal growth experiments  \n- AI tools and how they shape our future  \n- Business lessons, creator economy insights, and raw behind-the-scenes  \n\n#swaraj shelke #student creator #ai content creation #experiments #raw and real content #Ai #lifestyle #trending #Journey #Documentry #Working\n🎥 Subscribe if you want knowledge + fun + authentic stories, not just polished highlights.  \n\n👉 Let’s build, learn, and grow together.  \n\n#Lifestyle #AI #Business #CreatorJourney #SwarajShelke #student #exam\n\n\nThis isn’t about watching and forgetting.\nIt’s about learning, applying, and transforming — for life.\n\n🔗 Connect With Me\n📸 Instagram: https://www.instagram.com/swarajshelke12?igsh=bDk0N3huM2RkdHcw\n\nLinkedIn : https://www.linkedin.com/in/swaraj-shelke-0a3a752b8/\n \n\n📩 Business & Collabs: swarajshelke392@gmail.com\n\n🎯 Why You Should Keep Following Me\nBecause life doesn’t change with just motivation.\nIt changes when you have a real system.\nAnd that’s what I’m here to give you.\n\nNo noise. No shortcuts.\nJust the tools you need to become the person you were meant to be.\n\nSubscribe now — and let’s Multiply your future.\n\nWelcome to my channel! 🚀",
          "privacyStatus": "unlisted",
          "tags": "=documenting life,student life,ai tools,creator journey,swaraj shelke,content creation,instagram series,youtube series,documenting journey,business,artificial intelligence,no code,student entrepreneur,AI,{{ $json.linkedinHashtags }},"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "name": "YouTube Publisher",
      "position": [
        -224,
        -144
      ],
      "id": "d3a31006-261f-4c8c-8b07-fa8d3bfa31e9",
      "executeOnce": false,
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EOqOphXsdaKA4oxD",
          "name": "YouTube performx"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "12TKMa1z9-9EWYDnEK0clu_kJkQKjEfRU",
          "mode": "list",
          "cachedResultName": "Video to upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12TKMa1z9-9EWYDnEK0clu_kJkQKjEfRU"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        -32
      ],
      "id": "9d92bc06-19d2-48b8-b704-dccd3297fd53",
      "name": "Google Drive Trigger",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZS9GDGfRCTRU7iEf",
          "name": "Google swaraj"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1408,
        208
      ],
      "id": "b5cabc81-6846-4929-b81e-bc604dd3cc86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8xLfiS3K5P7sNaFT",
          "name": "Google Gemini(PaLM) 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        -144
      ],
      "id": "c7707a30-f847-469c-bc6d-200069675b33",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZS9GDGfRCTRU7iEf",
          "name": "Google swaraj"
        }
      }
    },
    {
      "parameters": {
        "person": "9f8J3o3hII",
        "text": "={{ $('sort the output').item.json.linkedinTitle }}\n\n{{ $('sort the output').item.json.linkedinDescription }}\n\nWatch the full video here: {{ $json.finalYoutubeUrl }}\n\n{{ $('sort the output').item.json.linkedinHashtags }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        896,
        -144
      ],
      "id": "c91dff6f-0c5a-4edb-b639-1bbee4bcca7c",
      "name": "linkedin post",
      "executeOnce": false,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "DyU1QlO0EakH6g2a",
          "name": "LinkedIn swaraj"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of items) {\n  const newItem = { json: {} };\n  const raw = item.json?.output ?? item.json?.result ?? item.json?.content ?? null;\n  let parsed = {};\n\n  try {\n    if (typeof raw === 'string') {\n      parsed = JSON.parse(raw.match(/\\{[\\s\\S]*\\}/)?.[0] ?? '{}');\n    } else if (typeof raw === 'object') parsed = raw;\n  } catch {}\n\n  const trim = v => (typeof v === 'string' ? v.trim() : '');\n\n  newItem.json.youtubeTitle = trim(parsed.youtubeTitle);\n  newItem.json.youtubeDescription = trim(parsed.youtubeDescription);\n\n  // --- STRICT YouTube tag limiter ---\n  let tags = parsed.youtubeTags ?? parsed.youtube_tags ?? parsed.tags ?? '';\n  if (typeof tags === 'string')\n    tags = tags.split(/[,|\\n]/).map(t => t.trim()).filter(Boolean);\n\n  if (Array.isArray(tags)) {\n    const seen = new Set();\n    const clean = [];\n    let total = 0;\n\n    for (let t of tags) {\n      t = t.replace(/[#|@'\"\\[\\]{}]/g, '');\n      if (!t || seen.has(t.toLowerCase())) continue;\n      seen.add(t.toLowerCase());\n\n      const nextLen = (clean.length ? 1 : 0) + t.length; // +1 for comma\n      if (total + nextLen > 470) break;\n\n      clean.push(t);\n      total += nextLen;\n    }\n\n    newItem.json.youtubeTags = clean.join(',');\n  } else {\n    newItem.json.youtubeTags = '';\n  }\n\n  newItem.json.linkedinTitle = trim(parsed.linkedinTitle);\n  newItem.json.linkedinDescription = trim(parsed.linkedinDescription);\n  newItem.json.linkedinHashtags = trim(parsed.linkedinHashtags);\n  newItem.json.inputVideoUrl = item.json.videoUrl ?? '';\n\n  out.push(newItem);\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -96
      ],
      "id": "20be7b8e-25b7-4793-8e30-88c3d75180a4",
      "name": "sort the output"
    },
    {
      "parameters": {
        "jsCode": "// Function node: Construct final YouTube URL from Upload ID\nconst out = [];\nconst BASE_URL = 'https://youtu.be/';\n\nfor (const item of items) {\n  const newItem = {\n    json: { ...item.json },\n    binary: item.binary ? { ...item.binary } : {}\n  };\n\n  // The YouTube Upload node typically outputs the ID in the 'id' field\n  const uploadId = item.json?.id ?? item.json?.uploadId ?? null;\n\n  if (uploadId) {\n    // Construct the full URL\n    newItem.json.finalYoutubeUrl = BASE_URL + uploadId;\n  } else {\n    // If ID is missing, set an empty string (or handle error)\n    newItem.json.finalYoutubeUrl = '';\n  }\n\n  out.push(newItem);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -144
      ],
      "id": "70815f02-94d1-4102-bd26-9b708858c17f",
      "name": "extract linkedinstuff"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6d7a061-3d38-4727-89d1-855c991770f0",
              "leftValue": true,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        -96
      ],
      "id": "f0d0a60a-0072-4e0a-8287-39df4c29cd49",
      "name": "Check AI Metadata (Title & Tags Valid)"
    },
    {
      "parameters": {
        "jsCode": "// Function node: clean AI output for direct YouTube publishing (preserve original fields)\nconst out = [];\n\n// helper: deep clone safely (structuredClone if available, fallback to JSON)\nfunction deepClone(obj) {\n  if (obj === null || obj === undefined) return {};\n  try { return structuredClone(obj); } catch (e) {\n    try { return JSON.parse(JSON.stringify(obj)); } catch (e2) { return Object.assign({}, obj); }\n  }\n}\n\nfor (const item of items) {\n  // preserve original json and binary\n  const originalJson = item.json ?? {};\n  const newItem = {\n    json: deepClone(originalJson),\n    binary: item.binary ? { ...item.binary } : {}\n  };\n\n  // find raw output from common places\n  const raw = (originalJson.output ?? originalJson.result ?? originalJson.content ?? null);\n  let parsed = null;\n\n  if (raw) {\n    if (typeof raw === 'string') {\n      // try direct parse, then try to extract JSON block\n      try { parsed = JSON.parse(raw.trim()); } \n      catch {\n        const match = raw.match(/\\{[\\s\\S]*\\}/);\n        if (match) {\n          try { parsed = JSON.parse(match[0]); } catch {}\n        }\n      }\n    } else if (typeof raw === 'object') {\n      parsed = raw;\n    }\n  }\n\n  if (parsed && typeof parsed === 'object') {\n    // Title & Description (overwrite/clean)\n    if (parsed.youtubeTitle !== undefined) newItem.json.youtubeTitle = (parsed.youtubeTitle ?? '').toString().trim();\n    else newItem.json.youtubeTitle = (newItem.json.youtubeTitle ?? '').toString().trim();\n\n    if (parsed.youtubeDescription !== undefined) newItem.json.youtubeDescription = (parsed.youtubeDescription ?? '').toString().trim();\n    else newItem.json.youtubeDescription = (newItem.json.youtubeDescription ?? '').toString().trim();\n\n    // Tags: accept string or array, split on comma, pipe, newline, semicolon\n    let tags = parsed.youtubeTags ?? parsed.youtube_tags ?? parsed.tags ?? newItem.json.youtubeTags ?? [];\n    if (typeof tags === 'string') {\n      tags = tags.split(/[,|\\n;]+/).map(s => s.trim()).filter(Boolean);\n    }\n    if (!Array.isArray(tags)) tags = [];\n\n    const cleanTags = [];\n    let totalChars = 0;\n    for (let t of tags) {\n      if (typeof t !== 'string') t = String(t);\n      // remove undesired characters but keep emoji/letters/numbers/hyphen/underscore\n      t = t.replace(/[#@'\"{}\\[\\]]/g, '').trim();\n      if (t.length < 2) continue;\n\n      // length accounting: comma only between tags (no spaces)\n      const addedLength = (cleanTags.length > 0 ? 1 : 0) + t.length;\n      if (totalChars + addedLength > 499) break;\n\n      cleanTags.push(t);\n      totalChars += addedLength;\n    }\n\n    // join without spaces between commas\n    newItem.json.youtubeTags = cleanTags.join(',');\n\n    // LinkedIn fields: keep or overwrite if present in parsed\n    if (parsed.linkedinTitle !== undefined) newItem.json.linkedinTitle = (parsed.linkedinTitle ?? '').toString().trim();\n    else newItem.json.linkedinTitle = (newItem.json.linkedinTitle ?? '').toString().trim();\n\n    if (parsed.linkedinDescription !== undefined) newItem.json.linkedinDescription = (parsed.linkedinDescription ?? '').toString().trim();\n    else newItem.json.linkedinDescription = (newItem.json.linkedinDescription ?? '').toString().trim();\n\n    // linkedinHashtags: if array => join with space (or if string keep trimmed)\n    let lnHashtags = parsed.linkedinHashtags ?? parsed.linkedin_hashtags ?? parsed.hashtags ?? newItem.json.linkedinHashtags ?? '';\n    if (Array.isArray(lnHashtags)) {\n      lnHashtags = lnHashtags.map(h => (typeof h === 'string' ? h.replace(/[#@'\"{}\\[\\]]/g, '').trim() : String(h))).filter(Boolean).join(' ');\n    } else if (typeof lnHashtags === 'string') {\n      // allow both comma or space-separated, normalize to space-separated with leading # if desired externally\n      lnHashtags = lnHashtags.split(/[,|\\n;]+/).map(s => s.replace(/[#@'\"{}\\[\\]]/g, '').trim()).filter(Boolean).join(' ');\n    } else {\n      lnHashtags = String(lnHashtags);\n    }\n    newItem.json.linkedinHashtags = lnHashtags;\n\n    // inputVideoUrl fallback order: parsed -> existing item.json.videoUrl -> ''\n    newItem.json.inputVideoUrl = parsed.inputVideoUrl ?? originalJson.inputVideoUrl ?? originalJson.videoUrl ?? '';\n  } else {\n    // parsed failed: keep original fields untouched but ensure the target keys exist\n    newItem.json.youtubeTitle = newItem.json.youtubeTitle ?? '';\n    newItem.json.youtubeDescription = newItem.json.youtubeDescription ?? '';\n    newItem.json.youtubeTags = newItem.json.youtubeTags ?? '';\n    newItem.json.linkedinTitle = newItem.json.linkedinTitle ?? '';\n    newItem.json.linkedinDescription = newItem.json.linkedinDescription ?? '';\n    newItem.json.linkedinHashtags = newItem.json.linkedinHashtags ?? '';\n    newItem.json.inputVideoUrl = newItem.json.inputVideoUrl ?? originalJson.videoUrl ?? '';\n  }\n\n  out.push(newItem);\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -144
      ],
      "id": "b6006179-f534-4e14-b25f-830f51eeb7a3",
      "name": "Sort the Youtube data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -672,
        80
      ],
      "id": "d8da4bf8-c22d-448f-9198-6e0b60c834d1",
      "name": "Wait",
      "webhookId": "79d8100a-72d7-4bcd-803a-71a3e7b70723"
    },
    {
      "parameters": {
        "jsCode": "\nconst out = [];\n\n// Helper: human readable bytes\nfunction formatBytes(bytes) {\n  if (!bytes || bytes === 0) return '0 B';\n  const k = 1024;\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(k));\n  return `${parseFloat((bytes / Math.pow(k, i)).toFixed(2))} ${sizes[i]}`;\n}\n\n// Helper: extension from filename\nfunction getExtension(name) {\n  if (!name || typeof name !== 'string') return null;\n  const m = name.split('.');\n  return m.length > 1 ? m[m.length - 1].toLowerCase() : null;\n}\n\n// Helper: pick a binary property that's likely to be the video\nfunction pickBinaryKey(binary) {\n  if (!binary || typeof binary !== 'object') return null;\n  const priority = ['video', 'data', 'file', 'fileData', 'attachment', 'content', 'buffer'];\n  for (const k of priority) if (binary[k]) return k;\n  // fallback to first key\n  const keys = Object.keys(binary);\n  return keys.length ? keys[0] : null;\n}\n\nfor (const item of items) {\n  const newItem = {\n    json: { ...item.json },\n    binary: item.binary ? { ...item.binary } : {}\n  };\n\n  // Where Google Drive node might put its file info\n  const file = item.json?.file ?? item.json?.driveFile ?? item.json?.resource ?? null;\n\n  // Common URL candidates\n  const webView = file?.webViewLink\n                ?? item.json?.webViewLink\n                ?? item.json?.webContentLink\n                ?? item.json?.webView\n                ?? file?.alternateLink\n                ?? null;\n\n  const webContent = file?.webContentLink ?? item.json?.webContentLink ?? null;\n  const thumbnail = file?.thumbnailLink ?? item.json?.thumbnailLink ?? null;\n\n  // Names and mime\n  const name = file?.name ?? item.json?.name ?? item.json?.fileName ?? null;\n  const mime = file?.mimeType ?? item.json?.mimeType ?? item.json?.mime ?? null;\n  const id = file?.id ?? item.json?.id ?? item.json?.fileId ?? null;\n\n  // Sizes\n  const sizeRaw = parseInt(file?.size ?? file?.quotaBytesUsed ?? item.json?.size ?? item.json?.sizeBytes ?? 0, 10) || 0;\n\n  // Timestamps\n  const createdTime = file?.createdTime ?? file?.createdDate ?? item.json?.createdAt ?? item.json?.created ?? null;\n  const modifiedTime = file?.modifiedTime ?? file?.modifiedDate ?? item.json?.modifiedAt ?? item.json?.modified ?? null;\n\n  // Owners / user\n  const owners = file?.owners ?? file?.owner ?? item.json?.owner ?? null;\n\n  // Normalized video object\n  const video = {\n    id: id,\n    url: webView ?? webContent ?? null,\n    webViewLink: webView ?? null,\n    webContentLink: webContent ?? null,\n    thumbnailLink: thumbnail ?? null,\n    name: name ?? null,\n    fileName: name ?? null,\n    mimeType: mime ?? null,\n    extension: getExtension(name),\n    sizeBytes: sizeRaw || null,\n    sizeHuman: sizeRaw ? formatBytes(sizeRaw) : null,\n    createdTime: createdTime ?? null,\n    modifiedTime: modifiedTime ?? null,\n    owners: owners ?? null,\n    isGoogleDriveFile: !!file,\n    isVideoMime: typeof mime === 'string' && mime.startsWith('video/'),\n    guessedIsVideo: null, // will set below when possible\n    binaryKey: null,\n    durationSeconds: null, // placeholder — fill using a media probe node if available\n    videoWidth: null,\n    videoHeight: null,\n    notes: []\n  };\n\n  // Guess isVideo from extension if mime not video\n  if (!video.isVideoMime && video.extension) {\n    const videoExts = ['mp4','mov','mkv','webm','avi','flv','wmv','m4v','3gp','mpeg'];\n    video.guessedIsVideo = videoExts.includes(video.extension);\n  } else {\n    video.guessedIsVideo = video.isVideoMime;\n  }\n\n  // Attach normalized fields into json\n  newItem.json.video = video;\n\n  // Normalize binary: try to create binary.video if not already present\n  if (item.binary && Object.keys(item.binary).length) {\n    const key = pickBinaryKey(item.binary);\n    if (key) {\n      // if there is already binary.video, prefer keeping it but ensure mime is set\n      if (!newItem.binary.video) {\n        newItem.binary.video = item.binary[key];\n      }\n      newItem.json.video.binaryKey = key;\n\n      // If binary contains mimeType metadata attach it\n      const binMeta = item.binary[key]?.metadata ?? item.binary[key]?.mimeType ?? null;\n      if (binMeta && !newItem.json.video.mimeType) {\n        newItem.json.video.mimeType = binMeta;\n        newItem.json.video.isVideoMime = typeof binMeta === 'string' && binMeta.startsWith('video/');\n      }\n\n    }\n  } else {\n    // No binary found\n    newItem.json.video.notes.push('No binary payload found in item');\n  }\n\n  // Add safe-guards and enrichment hints\n  if (!newItem.json.video.url && file?.id) {\n    // Google Drive direct link template suggestion\n    newItem.json.video.suggestedDriveViewer = `https://drive.google.com/file/d/${file.id}/view`;\n  }\n\n  // If not identified as video but size is large and extension suggests video, add note\n  if (!newItem.json.video.isVideoMime && newItem.json.video.guessedIsVideo) {\n    newItem.json.video.notes.push('MIME type not video but extension suggests video');\n  }\n\n  // Provide a compact summary string for logging or filename generation\n  newItem.json.video.summary = `${newItem.json.video.fileName ?? 'unknown'}${newItem.json.video.sizeHuman ? ` • ${newItem.json.video.sizeHuman}` : ''}${newItem.json.video.mimeType ? ` • ${newItem.json.video.mimeType}` : ''}`;\n\n  // Final push\n  out.push(newItem);\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        -32
      ],
      "id": "14ab0b9d-c700-4327-8f8f-0948be31b527",
      "name": "Process video data"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        -144
      ],
      "id": "6f7df07d-4a92-4930-992f-22871c1022fc",
      "name": "Wait1",
      "webhookId": "cc1bfb55-8add-4f9a-9a52-dcf202b41d2f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db5c3721-d1af-4d64-a0ae-d367a8681238",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -144
      ],
      "id": "b89796a3-7bc8-4b84-af3d-ba1f2b716ce8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "swarajshelke392@gmail.com",
        "subject": "Approval to post on linkedin",
        "message": "=Bro your video is successfully uploaded on your channel: https://studio.youtube.com/channel/UCFQb9YEGNTtRJNhTlBrbGeg/videos/short?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D\n\nyour video is unlisted in the your youtube studio make sure you do the required settings and then click \"okay post!!\"\" \nthis option will approve to post this on linkedin with the youtube url...:\n{{ $json.finalYoutubeUrl }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Okay post it!!",
            "disapproveLabel": "No don't upload "
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        -144
      ],
      "id": "d4602a3e-f067-496f-b65f-e407e441f808",
      "name": "Send a message",
      "webhookId": "8d352ca4-a6dc-4c56-8911-31d68622e36e",
      "credentials": {
        "gmailOAuth2": {
          "id": "EORluQzvIFLBvSVg",
          "name": "Gmail swaraj"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent for Video Analysis": {
      "main": [
        [
          {
            "node": "sort the output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Publisher": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Process video data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent for Video Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Sort the Youtube data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sort the output": {
      "main": [
        [
          {
            "node": "Check AI Metadata (Title & Tags Valid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract linkedinstuff": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Metadata (Title & Tags Valid)": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort the Youtube data": {
      "main": [
        [
          {
            "node": "YouTube Publisher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent for Video Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process video data": {
      "main": [
        [
          {
            "node": "AI Agent for Video Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "extract linkedinstuff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "linkedin post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mTT0pHGTCj9kht0g"
  },
  "versionId": "97b4efdc-79d6-44cc-87a2-afb4ef4b5cdf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b99629a96d1feaa6646aabbd2e9fbe5b4db922509dc36b3d3d1cc0f0838ab88"
  },
  "id": "o4YUQrWofOWHPLet",
  "tags": []
}